<div class="home ">
    <div class="area1  flex flex-direction-row">
        <div class="content-box flex flex-direction-row">
            <div class="lf">
                2
            </div>
            <div class="rt flex-grow-1">
                <div class="tittle fs-40 text-right"><span class="black-text">关于我</span> ABOUT <span class="line">ME</span></div>
                <div class="des">
                    <div>我可以很负责任的说，工作6年没遇到过一个布局有我厉害的人。不管是浏览器的兼容，还是移动端的自适应，都未曾遇到过对手。
                        有人可能觉得前端布局这块不值得深究，可这毕竟是整个网站的脸面。
                        我常说这就跟找对象一样的，虽然大家都说不在乎外表只看内在。可是若一个人长得面目可憎你还会有欲望去了解她的内在吗？
                        所以，我觉得前端布局依然很重要。</div>
                    <div>但是，若是想在前端路上走得很远，js才是最重要的。</div>
                </div>
            </div>
        </div>
    </div>
    <div class="area2">
        <div class="content-box">
            <div class="tittle fs-40 tit-bg">
                <span class="black-text line">技能</span> MY-SKILL
            </div>
            <div class="detail">
                <div>
                    <span>技术能力：</span>
                    <div class="rt">AngularJS、ionic、typescript、jasmine（单元测试）、sass、html5、css3、jquery、bootstrap、canvas、photoshop切图</div>
                </div>
                <div>
                    <span>软件掌握（精通）：</span>
                    <div class="rt">sublime、webstorm、dreamweaver、visual studio、Photoshop、Fireworks 、Illustrator、等软件。</div>
                </div>
            </div>
        </div>
    </div>
</div>
